main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

article {
    background-color: grey;
    width: 100px;
    height: 200px;
    margin: 20px;
}
